body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-align: center;
  padding: 20px auto;
  background-color: blanchedalmond;
  margin-right: 30%;
  margin-left: 30% ;
}
.todo-list{
  text-align: center;
  padding: 20px auto;
  background-color: blanchedalmond;
  margin-right: 30%;
  margin-left: 30% ;
 
}

.todo-Form{
  text-align: center;
  padding: 2% ;
  background-color: blanchedalmond;
  margin-right: 30%;
  margin-left: 30% ;
}

.todo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
  max-width: 70%;
  margin-left: 15%;
}

